<ul class="list-unstyled">
  <% tweets.each do |tweet| %>
    <li class="media mb-3">
      <% if tweet.user.image? %>
        <%= image_tag tweet.user.image.thumb50.url, :class => "mw50" %>
      <% else %>
        <%= image_tag "noimage.png", :size => "50x50" %>
      <% end %>
      <div class="media-body ml-2">
        <div>
          <%= link_to tweet.user.name, user_path(tweet.user) %> <span class="text-muted">投稿日時 : <%= tweet.created_at %></span>
        </div>
        <div>
          <p><%= tweet.content %></p>
        </div>
        <div>
          <%= link_to "詳細", tweet, class: "btn btn-primary btn-sm" %>
          <% if current_user == tweet.user %>
            <%= link_to "削除", tweet, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: "btn btn-danger btn-sm" %>
          <% end %>  
        </div>
      </div>
    </li>
  <% end %>  
  <%= paginate tweets %>
</ul>