<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @tweet, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", rows: 5 %>
        </div>
        <%= f.submit "投稿", class: "btn btn-primary btn-block" %>
      <% end %>  
    </aside>
    <div class="col-sm-8">
      <%= render "tweets/tweets", tweets: @tweets %>
    </div>
  </div>
<% else %>  
  <div class="jumbotron">
    <div class="text-center">
      <h1>「好き」を共有しよう</h1>
      <%= link_to "会員登録", signup_path, class: "btn btn-success" %>
      <%= link_to "ログイン", login_path, class: "btn btn-info" %>
    </div>
  </div>
<% end %>  